{% extends "layout2.html" %}
{% block body %}

<div class="row">

  <div class="col-xs-6 form">
    
    <div class="line one">
      <p> 1. Building type </p>
      <div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	  Select
	  <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	  <li><a href="#" onclick="readGasDataFilter(101, 101, 4)">Detached</a></li>
	  <li><a href="#" onclick="readGasDataFilter(102, 101, 4)">Semi detached</a></li>
	  <li><a href="#" onclick="readGasDataFilter(103, 101, 4)">End terrace</a></li>
	  <li><a href="#" onclick="readGasDataFilter(104, 101, 4)">Mid terrace</a></li>
	  <li><a href="#" onclick="readGasDataFilter(105, 101, 4)">Bungalow</a></li>
	  <li><a href="#" onclick="readGasDataFilter(106, 101, 4)">Flat / maisonnette</a></li>
	</ul>
      </div>
    </div>
    <div class="line two">
      <p> 2. Age </p>
      <div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	  Select
	  <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	  <li><a href="#" onclick="readGasDataFilter(101, 101, 4)">Pre 1930</a></li>
	  <li><a href="#" onclick="readGasDataFilter(101, 102, 4)">1930 - 1949</a></li>
	  <li><a href="#" onclick="readGasDataFilter(101, 103, 4)">1950 - 1966</a></li>
	  <li><a href="#" onclick="readGasDataFilter(101, 104, 4)">1967 - 1982</a></li>
	  <li><a href="#" onclick="readGasDataFilter(101, 105, 4)">1983 - 1995</a></li>
	  <li><a href="#" onclick="readGasDataFilter(101, 107, 4)">Post 1996</a></li>
	</ul>
      </div>
    </div>
    <div class="line three">
      <p> 3. Floor area</p>
      <div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	  Select
	  <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	  <li><a href="#" onclick="readGasDataFilter(101, 101, 1)"> < 50 m2 </a></li>
	  <li><a href="#" onclick="readGasDataFilter(101, 101, 2)"> 51 - 100 m2 </a></li>
	  <li><a href="#" onclick="readGasDataFilter(101, 101, 3)"> 101 - 150 m2 </a></li>
	  <li><a href="#" onclick="readGasDataFilter(101, 101, 4)"> > 150 m2 </a></li>
	</ul>
      </div>
    </div>
    <div class="line four">
      <p> 4. Post code </p>
      <div class="dropdown">
	<div class="input-group">
	  <input type="text" class="form-control" placeholder="Add your post code" aria-describedby="basic-addon1">
	</div>
      </div>
    </div>
    <div class="line five">
      <p> 5. House number </p>
      <div class="dropdown">
	<div class="input-group">
	  <input type="text" class="form-control" placeholder="Add your house number" aria-describedby="basic-addon1">
	</div>
      </div>
    </div>
    
  </div>
  
  <div class="col-xs-6 board">
    <div class="gas_div" id="gas_div">
    </div>
    <div class="elec_div" id="elec_div">
    </div>
  </div>
</div>
 
{% endblock %}
