{% extends "layout2.html" %}
{% block body %}
<script type="text/javascript" src="static/js/dashboard.js"></script>

<div class="row">

  <div class="col-xs-6 form">
    
    <div class="line one">
      <p> 1. Building type </p>
      <div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	  Select
	  <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	  <li><a href="#">Attached</a></li>
	  <li><a href="#">Semi-attached</a></li>
	  <li><a href="#">Something else here</a></li>
	</ul>
      </div>
    </div>
    <div class="line two">
      <p> 2. Age </p>
      <div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	  Select
	  <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	  <li><a href="#">0 - 5 years</a></li>
	  <li><a href="#">5 - 10 years</a></li>
	  <li><a href="#">+ 10 years</a></li>
	</ul>
      </div>
    </div>
    <div class="line three">
      <p> 3. Floor area</p>
      <div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	  Select
	  <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	  <li><a href="#"> - 30 m square</a></li>
	  <li><a href="#">30 - 60 m square</a></li>
	  <li><a href="#"> + 60 m square</a></li>
	</ul>
      </div>
    </div>
    <div class="line four">
      <p> 4. Post code </p>
      <div class="dropdown">
	<div class="input-group">
	  <input type="text" class="form-control" placeholder="Add your post code" aria-describedby="basic-addon1">
	</div>
      </div>
    </div>
    <div class="line five">
      <p> 5. House number </p>
      <div class="dropdown">
	<div class="input-group">
	  <input type="text" class="form-control" placeholder="Add your house number" aria-describedby="basic-addon1">
	</div>
      </div>
    </div>
    
  </div>
  
  <div class="col-xs-6 board">
    <div class="gas_div" id="gas_div">
    </div>
    <div class="elec_div" id="elec_div">
    </div>
  </div>
</div>
 
{% endblock %}
