{% extends "layout2.html" %}
{% block body %}
<script type="text/javascript" src="static/js/embed.js"></script>

<div class="row">

  <div class="col-xs-6 form">
    
    <div class="row">
      <div class="something", id="piccy">
        <img src="static/images/House.jpg" alt="House" style="width:304px;height:228px;">
      </div>
    </div>

    <div class="row">

      <div class="something", id="listy">
      </div>

    <div id="link_area">
    </div>

    </div>

  </div>


  <div class="col-xs-6 board">
    <div class="scatter_div" id="scatter_div">
    </div>

  </div>

</div>
 
{% endblock %}
